version: "3.7"
services:
  loki:
    image: grafana/loki:3.6.0
    volumes:
      - ./loki:/etc/loki
    ports:
      - "3100:3100"
    restart: unless-stopped
    command: -config.file=/etc/loki/loki-config.yml
    networks:
      - loki
  promtail:
    image: grafana/promtail:3.6.0
    volumes:
      - /var/log:/var/log
      - ./promtail:/etc/promtail
    restart: unless-stopped
    command: -config.file=/etc/promtail/promtail-config.yml
    networks:
      - loki
  grafana:
    image: grafana/grafana:12.3.0
    ports:
      - "3000:3000"
    restart: unless-stopped
    networks:
      - loki

networks:
  loki:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: "10.0.0.0/24"