[Unit]
Description=Prometheus PostgreSQL Exporter
After=network.target postgresql.service

[Service]
User=postgres
Group=postgres
EnvironmentFile=/etc/default/postgres_exporter
ExecStart=/usr/local/bin/postgres_exporter --web.listen-address=:9187 --extend.query-path=/etc/postgres_exporter/queries.yaml
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target