version: '3.7'
services:
  test-website:
    image: nginx:1.27.2
    networks:
      openvpn-internal:
    expose:
      - 80
  test-website2:
    image: nginxdemos/hello:0.4
    networks:
      openvpn-internal:
    expose:
      - 80

networks:
  openvpn-internal:
    external: true
