services:
  jupyter:
    image: jupyter/datascience-notebook:latest
    container_name: jupyter
    ports:
      - 8888:8888
    volumes:
      - ./notebooks:/home/jovyan/work
    environment:
      - JUPYTER_ENABLE_LAB=yes
      - CHOWN_HOME=yes
      - CHOWN_HOME_OPTS=-R
      - NB_UID=1000
      - NB_GID=1000
    user: root
    restart: unless-stopped

  jupyter_tensorflow:
    image: jupyter/tensorflow-notebook:latest
    container_name: jupyter_tensorflow
    ports:
      - 8888:8888
    volumes:
      - ./notebooks:/home/jovyan/work
    environment:
      - JUPYTER_ENABLE_LAB=yes
      - JUPYTER_TOKEN=your_token
      - CHOWN_HOME=yes
      - CHOWN_HOME_OPTS=-R
      - NB_UID=1000
      - NB_GID=1000
    user: root
    restart: unless-stopped
  
  jupyter_pytorch:
    image: jupyter/pytorch-notebook:latest
    container_name: jupyter_pytorch
    ports:
      - 8888:8888
    volumes:
      - ./notebooks:/home/jovyan/work
    environment:
      - JUPYTER_ENABLE_LAB=yes
      - JUPYTER_TOKEN=your_token
      - CHOWN_HOME=yes
      - CHOWN_HOME_OPTS=-R
      - NB_UID=1000
      - NB_GID=1000
    user: root
    restart: unless-stopped