token: ""
write-kubeconfig-mode: "0644"
server: https://{{vip}}:9345
tls-san:
  - {{ vip }}
{% for host in hostvars %}
  - {{ hostvars[host]['ansible_host'] }}
{% endfor %}
node-label:
  - server=true
disable:
  - rke2-ingress-nginx
serviceLB: true